//Для переиспользования
%font {
padding: 0;
margin: 0;
color: #000000;
font-size: 22px;
line-height: 29px;
font-weight: 400;
}
%flex-wrapper {
    height: 2.5rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    overflow: hidden;
}
%circle {
    background-color: #c4c4c4;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
%point {
        margin: 50% 0;
        font-size: 19px;
        line-height: 0;
        transform: translate(0,-50%);
    }
@font-face {
	font-family: 'Arial'; 
	src: url(../fonts/arialmt.ttf); 
}
//Total style
html,body {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
}
.App {
    @extend %font;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul, li, h1, h2, h3, h4, input {
    @extend %font;
    white-space: nowrap;
}
li {
    list-style: none;
}
//Sidebar
.sidebar {
    z-index: 1;
    padding: 10px;
    background-color: #f3f3f3;
    max-width: 100%;
    width: 13rem;
    height: 100vh;
    position: fixed;
    border-right: 3px solid #5e5e5e;
    transition: width 0.7s ease-in;
    &__header {
        @extend %flex-wrapper;
        padding-bottom: 2rem
    }
    &__logo {
      @extend %circle;
      margin-right: 0.5rem;
        h4 {
       @extend %point;
        }
    }
    &__point {
    .list__link {
        @extend %font;
        @extend %flex-wrapper;
        text-transform: capitalize;
        width: 13rem;
        text-decoration: none;
    }
        .list__img {
            @extend %circle;
            margin-right: 1rem;
        }
        h4 {
            cursor: pointer;
            opacity: 1;
            transform: translate(0);
            transition: opacity 1.5s ease-in;
        }
    }
}
//Если sidebar закрыт
 .hide-sidebar {
 width: 60px;
 transition: width 0.7s ease-in;
 .list__link {
    width: 60px;
    transition: width 0.5s ease-in;
 }
 .list__img {
    margin-right: -9rem;
 }
 .sidebar__header h1,
 .sidebar__point .list__link h4 {
    opacity: 0;
    transform: translate(-500px);
    transition: opacity 0.5s ease-in;
}
 }

// Смещение контента
.leftShift {
    padding: 0 0 0 15rem;
    transition: padding 0.7s ease-in;
}
.rightShift {
    padding: 0 0 0 7rem;
    transition: padding 0.7s ease-in;
}
// Input
.input {
    padding-left: 0.7rem;
    border: none;
    border-bottom: 2px solid #000000;
    background-color: rgba(0,0,0,0);
    color: #000000;
    width: 8rem;
    outline: none;
    font-size: 20px;
}
.input::-moz-placeholder { color: #000000; }
.input::-webkit-input-placeholder { color: #000000; }

// Header
.header {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3f3;
    .user {
        @extend %font;
        text-decoration: none;
        display: flex;
        width: 12rem;
        justify-content: space-evenly;
        align-items: center;
        &__avatar {
            @extend %circle;
            h4 {
                @extend %point;
                font-size: 22px;
                text-align: center;
                 }
        }
    }
}
//Filter
.filter {
    position: fixed;
    padding-top: 5rem;
    padding-bottom: 1rem;
    height: 1rem;
    transition: height 0.6s ease-out;
    width: 100vw;
    border-bottom: 3px solid #5e5e5e;
    overflow: hidden;
    .leftShift &__head {
        width: 83vw;
        transition: width 0.6s ease-out;
    }
    &__head {
    position: relative;
    width: 91.5vw;
    transition: width 0.6s ease-out;
    justify-content: space-between;
    align-items: center;
    display: flex;
    overflow: hidden;
    }
    &__title {
        text-transform: uppercase;
    }
    &__img {
        width: 15px;
        height: 15px;
        cursor: pointer;
        img {
            display: block;
            width: inherit;
            height: inherit;
        }
    }
    &__block {
        display: flex;
        width: 100%;
        height: inherit;
        &--one {
            margin-left: -1rem;
        }
        &--one, 
        &--two {
        display: flex;
        width: 100%;
        height: inherit;
        justify-content: space-around;
        flex-wrap: wrap;
        flex: 0 1 25%;
        }
        @media (max-width: 880px) {
            &--one, 
            &--two {
                flex: 0 1 37%;
        }
        }
    }
}
.showFilter {
    height: 9rem;
    transition: height 0.6s ease-out;
 }
