.App, ul, li, h1, h2, h3, h4, input, .sidebar__point .list__link, .header .user {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
}

.sidebar__header, .sidebar__point .list__link {
  height: 2.5rem;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
  overflow: hidden;
}

.sidebar__logo, .sidebar__point .list__img, .header .user__avatar {
  background-color: #c4c4c4;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar__logo h4, .header .user__avatar h4 {
  margin: 50% 0;
  font-size: 19px;
  line-height: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@font-face {
  font-family: 'Arial';
  src: url(../fonts/arialmt.ttf);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.App {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul, li, h1, h2, h3, h4, input {
  white-space: nowrap;
}

li {
  list-style: none;
}

.sidebar {
  z-index: 3;
  padding: 10px;
  background-color: #f3f3f3;
  max-width: 100%;
  width: 13rem;
  height: 100vh;
  position: fixed;
  border-right: 3px solid #5e5e5e;
  -webkit-transition: width 0.7s ease-in;
  transition: width 0.7s ease-in;
}

.sidebar__header {
  padding-bottom: 2rem;
}

.sidebar__logo {
  margin-right: 0.5rem;
}

.sidebar__point .list__link {
  text-transform: capitalize;
  width: 13rem;
  text-decoration: none;
}

.sidebar__point .list__img {
  margin-right: 1rem;
}

.sidebar__point h4 {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: opacity 1.5s ease-in;
  transition: opacity 1.5s ease-in;
}

.hide-sidebar {
  width: 60px;
  -webkit-transition: width 0.7s ease-in;
  transition: width 0.7s ease-in;
}

.hide-sidebar .list__link {
  width: 60px;
  -webkit-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.hide-sidebar .list__img {
  margin-right: -9rem;
}

.hide-sidebar .sidebar__header h1,
.hide-sidebar .sidebar__point .list__link h4 {
  opacity: 0;
  -webkit-transform: translate(-500px);
          transform: translate(-500px);
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

.leftShift {
  padding: 0 0 0 15rem;
  -webkit-transition: padding 0.7s ease-in;
  transition: padding 0.7s ease-in;
}

.rightShift {
  padding: 0 0 0 7rem;
  -webkit-transition: padding 0.7s ease-in;
  transition: padding 0.7s ease-in;
}

.input {
  padding-left: 0.7rem;
  border: none;
  border-bottom: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  width: 8rem;
  outline: none;
  font-size: 20px;
}

.input::-moz-placeholder {
  color: #000000;
}

.input::-webkit-input-placeholder {
  color: #000000;
}

.header {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
  z-index: 2;
}

.header .user {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .user__avatar h4 {
  font-size: 22px;
  text-align: center;
}

.filter {
  position: fixed;
  padding-top: 5rem;
  padding-bottom: 1rem;
  height: 1rem;
  -webkit-transition: height 0.6s ease-out;
  transition: height 0.6s ease-out;
  width: 100vw;
  border-bottom: 3px solid #5e5e5e;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 1;
}

.filter__head {
  position: relative;
  width: inherit;
  -webkit-transition: width 0.6s ease-out;
  transition: width 0.6s ease-out;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.filter__title {
  text-transform: uppercase;
}

.filter__img {
  position: absolute;
  top: 0;
  right: 134px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.filter__img img {
  display: block;
  width: inherit;
  height: inherit;
}

.leftShift .filter__img {
  right: 262px;
}

.filter__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
}

.filter__block--one {
  margin-left: -1rem;
}

.filter__block--one, .filter__block--two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

@media (max-width: 1220px) {
  .filter__block--one, .filter__block--two {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
            flex: 0 1 30%;
  }
}

@media (max-width: 930px) {
  .filter__block--one, .filter__block--two {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 37%;
            flex: 0 1 37%;
  }
}

.showFilter {
  height: 9rem;
  -webkit-transition: height 0.6s ease-out;
  transition: height 0.6s ease-out;
}

.main {
  height: calc(100vh - 7rem);
  padding-top: 7rem;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.main__wrapper {
  height: inherit;
  padding-left: 7rem;
  overflow: auto;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.sidebarMain .main__wrapper {
  padding-left: 15rem;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.filterMain {
  height: calc(100vh - 15rem);
  padding-top: 15rem;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
/*# sourceMappingURL=index.css.map */